@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Annie+Use+Your+Telescope|Sorts+Mill+Goudy&display=swap');

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/*******
* E.g.,
* font-family: 'Amatic SC', cursive;
* font-family: 'Sorts Mill Goudy', serif;
* font-family: 'Annie Use Your Telescope', cursive;
*********/
body {
  background-color: #FFFFFF;
  /* FC995B */
  background-repeat: repeat;
  padding-bottom: 100px;
  font-family: 'Raleway';
}

body h1, h2, h3 {
  font-family: 'Amatic SC';
}


.main {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #502F4C;
  margin: auto;
  margin-top: 5.4vh;
  padding-left: 3%;
  padding-right: 3%;
  width: 80%;
  border-radius: 5px;
  opacity: 0.85;
  text-align: justify;
}
.main h1
{
  font-size: 3.5vw;
}
.main h2 {
  font-size: 3.2vw;
}
.main h3 {
  font-size: 3.1vw;
  font-style: italic;
}
.main p, ul, table, a {
  font-size: 3vw;
}
.main a {
  color: blue;
}
.main a:visited
{
  color: brown;
}

.content-lg {
  margin: 30px auto;
  width: 90%;
  z-index: 4;
}

.image-container
{
  position:relative;
  padding-bottom:0.25%;
	padding-top:28.25%;
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 5.4vh;
  box-shadow: 1px 2.5px 4px 5px rgba(9,9,9,9);
  border-radius: 2px;
  opacity: 0.95;
	height:0;
	overflow:hidden;
}

.image-container img
{
  position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
